body {
	background-color:#F9F573;
}


h1 {
	font-family: "Lucida Console";
	color: black;
	text-align: center;
}

h3 { 
	font-family: "Lucida Console";
	font-size: 200%;
	text-align: center;
}

h5 {
	font-family: "Lucida Console";
	text-align:center;
}

p {
	font-family: "Lucida Console"; 
	font-size: 25px;
	text-align: center;
}

