body {
	background-color:#F9F573;
}


h1 {
	font-family: "Lucia Console";
	color: black;
	text-align: center;
}

h3 { 
	font-family: "Lucia Console";
	font-size: 200%;
	text-align: center;
p {
	font-family: "Lucia Console"; 
	font-size: 45px;
	text-align: center;
}


